@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    background-color: rgb(25, 25, 28);
    color: white;
    font-family: Inter;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 400px;
    width: 400px;
    margin: auto;
}

.grid-container button {
    width: 100%;
    border-radius: 1rem;

}